{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>
 
 .row h3{
     margin-top: 10px;
     text-align: center;
 }
 .row h6{
      
     text-align: center;
     margin-bottom: 20px;
 }

</style>
<h1 style="text-align: center; margin-top:20px;color:darkorange"> Our Team  </h1>

<div class="container">
    <div class="row">
            {% for i in query %}
            <div class="col-md-4">
          <img class="img-circle" src="{{ i.profile_picture.url }}" alt="..." style="border-radius: 50%; margin-top:40px; height: 300px;width: 300px;">
               
                <h3>{{ i.Name }}</h3>
                <h6>{{ i.Email }}</h3>
                <h6> full stack developer </h6>

             
            </div>
             {% endfor %}
    </div>
</div>
{% endblock %}